
          <div style="padding-top:56.25%;position:relative;">
<marquee id="marq" style="width:100%;padding: 10px;font-size: 14px;font-weight: 700;position: absolute;top:0;color: #f2f2f2;background: rgb(0 0 0 / 14%);z-index:1" id="marq">PASANG IKLAN VIDEO KAMU DISINI, HUBUNGI ADMIN</marquee>
<iframe name="iframe" src="{{site.iklanVideo}}" style="border:0;max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media" allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture" controls controlsList="nodownload"></iframe>
</div>
