<ion-tab tab="akun">
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>👤 Akun Saya</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Area Avatar -->
    <ion-avatar style="width: 80px; height: 80px; margin: 20px auto;">
      <img id="userAvatar" src="">
    </ion-avatar>

    <!-- Informasi Pengguna -->
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-text id="userName"></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text id="userEmail"></ion-text>
    </ion-item>

    <!-- Tombol Logout -->
    <ion-button expand="block" onclick="doLogout()" color="danger">Logout</ion-button>
  </ion-content>
</ion-tab>