---
layout: posting
permalink: /nonton/
---

<ion-card class="post">
  <ion-card-content class="entry">
    {{ content }}
  </ion-card-content>
</ion-card>
       <!--
<ion-card> <ion-list>
          <ion-list-header> Bintang Film </ion-list-header>
            {% for as in page.cast %}
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{ as.ava }}" />
            </ion-avatar>
            <ion-label>
              <h2>{{as.nama}}</h2>
              <h4>pemeran {{as.sebagai}}</h4>
            </ion-label>
          </ion-item>
        </ion-list>
            {% endfor %}
  <ion-card-content>
  <ion-note color="secondary" style="margin:15px">
    Release date {{ page.date | date_to_string }}
  </ion-note>
  </ion-card-content>
</ion-card> -->

  {% include disqus.html %}
